.category-card {
  position: relative;
  width: 566px;
  height: 100%;
}

.category-image img {
  width: 566px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.category-overlay {
  position: absolute;
  bottom: 102px;
  left: 32px;
}

.category-header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}


