@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.home-hero{
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 750px;
}
.home-hero h1{
    font-family: "Montserrat",sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;
}
.home-hero p{
    font-family: "Nunito Sans",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 700px;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: left;
}
.hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.buttons{
    display: flex;
    gap: 24px;
}

.hero-overlay {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  max-width: 700px;
}

.categories h1{
    font-family: "Montserrat",sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 48px;
}

.category-images{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    height: 921px;
}

.new-arrivals h1{
    font-family: "Montserrat",sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 48px;
}

.new-arrivals{
    align-items: center;
}

.NewArrivalsImgs{
    display: flex;
    padding: 0 100px;
    max-width: 100%;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 480px;
}
