@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.Navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  background-color: #0A1D37;
}
.logo_text{
    font-size: 32px;
    text-decoration: none;
    color: #F8F9FB;
}
.link{
    font-size: 20px;
    margin-right: 48px;
    text-decoration: none;
    color: #F8F9FB;
}
.link:last-child{
    margin-right: 0;
}
.icons{
    display: flex;
    gap: 20px;
}